$color-primary: #1b1b1b; /* text color */
$color-primary-light-2: #7d7d7d;
$color-primary-light: #eddecd; /* text color footer */
$color-secondary: #005c3e; /* hover  */
$color-bg-primary: #fcfafa;  /*  */
$color-bg-secondary: #eeeeee;  /* notification Background */
$color-bg-tertiary: #001711;
$color-gray: gray;
$font-family-neu: "Neue Haas Unica Pro",sans-serif; /* Product  Names and Menu */
$font-family-lamer : "La Mer Text";  /* top nav, side nav, footer */
$font-family-lamer-head : "La Mer Headline";  /* product  heading */
$bp-mediun : 64em;
$bp-small : 47.5em;